body{
    background-color: #57494963;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.section{
    text-align: center;
    font-size: 20px;
    width: 70%;
}
.container{
    background-color: #129990;
    border-radius: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}
.container .btnClock,
.container .btnCalendar {
    cursor: pointer;
    width: 100%;
    height: 500px;
    margin-right: -0.1rem;
    margin-top: -0.2rem;
    margin-bottom: -0.2rem;
    border-style: none;
    transform: skew(-10deg) translateX(0%);
    transition: all 1s ease;
}
.container .btnClock > *,
.container .btnCalendar > * {
    display: inline-block;
    transform: skew(10deg);
}
.container .btnClock:hover,
.container .btnCalendar:hover{
    background-color: #90D1CA;
}
.container .btnClock.active,
.container .btnCalendar.active{
    transform: skew(-10deg) translateX(160%);
}
.container .btnClock.active2,
.container .btnCalendar.active2{
    transform: skew(-10deg) translateX(-160%);
}

/* Style div Clock */
.clockDate{
    position: absolute;
    left: 20%;
    display: flex;
    flex-direction: column;
    width: 27%;
}
#date{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    color: #FFFBDE;
    margin-bottom: 10px;
}
#clock{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color: #222;
    color: #FFFBDE;
}
#clock h2{
    font-size: clamp(20px, 8vw, 80px);
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Style Div Calendar */
.calendarDate{
    position: absolute;
    left: 34%;
    display: flex;
    flex-direction: column;
    width: 50%;
}
#calendar{
    font-size: medium;
    display: flex;
    flex-direction: column;
    background-color: #222;
    color: #FFFBDE;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.1s ease;
}
.calendar{
    opacity: 0;
}
.headerCalendar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.headerCalendar button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: #FFFBDE;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
tr{
    display: flex;
    justify-content: space-around;
}
.day{
    width: 100%;
}
.dates{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
}
.date{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    border-radius: 20%;
    transition: 0.2s;
}

.date:hover,
.date.active{
    background: #ff5869;
    color: #FFFBDE;
}
.date.inactive{
    color: #d2d2d2;
}
.date.inactive:hover{
    color: #FFFBDE;
}